h1, h2 {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

h3 {
    font-family: 'Roboto Mono', monospace;
}

.nav {
    font-family: 'Roboto Mono', monospace;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
}

.line{
    text-align: left;
}


body{

    display: grid;
    grid-template-columns: 1fr; 
    grid-auto-rows: minmax(5px, auto);
    grid-template-areas: "header" "main_content" "footer";
    background-color: #F5EFE8;
    
}

li{
    font-family: 'Roboto Mono', monospace;
}

p {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

img{
    width: 400px;
}

#footer {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

#selfpic {
    text-align: center;
}

.main{
    grid-area: main_content;
    grid-template-areas: "content" "main_map";
    display: grid;
    padding: 5%;
}

#contents{
    grid-area: content;
}

#the_map{ 
    height:80vh; 
    grid-area: main_map;
}
